<h1>Posts from <%= @place.name %></h1>
<p> View fun activities from the city </p>
<br>
<p>
 <% for post in @posts %>
 <h3> <%= post["title"]%> </h3>
 <h5> <%= post["posted_on"]%> </h5>
 <p> <%= post["description"]%> </p>
 <% end %>
</p>
<p>
 <a href="/posts/new?place_id=<%= @place["id"] %>">Write your own post for this Place</a>
</p>

<p>
 <a href="/places">Return to page of Places</a>
</p>